// abstracts (global variable, function, mixin and placeholder)

//@import 'abstracts/abstract';

// vendors (CSS files from external libraries and frameworks)

@import 'vendors/bootstrap';

// base (boilerplate code)

// @import 'base/reset';
@import 'base/base';


// layout (everything that takes part in laying out the site)

//@import 'layout/layout';
@import "layout/header";
@import "layout/navigation";

// component (for smaller components like buttons, carousel, widgets, loader)
@import "components/wp-classes";


//page (page-specific styles)


//themes

