.main-navigation {
  z-index: 2;
  .menu-toggle {
    display: block;
    background: transparent;
    width: 40px;
    height: 30px;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 4;
    @include media-breakpoint-up(lg) {
      display: none;
    }
    span {
      transition: 0.3s all;
      opacity: 1;
      width: 100%;
      height: 2px;
      background: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translate(-50%, -50%);
      &:first-child {
        top: 0;
        left: 0;
        transform: translate(0, 0);
      }
      &:last-child {
        bottom: 0;
        top: auto;
        left: 0;
        transform: translate(0, 0);
      }
    }
    &.active {
      span {
        &:first-child {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
        }
        &:last-child {
          top: 50%;
          left: 50%;
          bottom: auto;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &:nth-child(2) {
          transform: translateX(-100%);
          opacity: 0;
        }
      }
    }
  }

  .menu-primary-menu-container {
    position: fixed;
    top: 0;
    width: 70%;
    height: 100%;
    background: rgba(50, 50, 50, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
    opacity: 0;
    visibility: hidden;
    left: -100%;
    z-index: 3;
    @include media-breakpoint-up(lg) {
      opacity: 1;
      visibility: visible;
      left: 0;
      position: relative;
      background: transparent;
      width: 100%;
      height: auto;
    }
    &.show-menu {
      opacity: 1;
      visibility: visible;
      left: 0;
    }
    ul.menu {
      list-style: none;
      padding: 0;
      margin: 0;
      position: relative;
      width: 80%;
      @include media-breakpoint-up(lg) {
        display: flex;
        width: 100%;
      }
      li {
        padding: 0;
        margin-bottom: 10px;
        cursor: pointer;
        min-width: 200px;
        position: relative;
        @include media-breakpoint-up(lg) {
          margin-bottom: 0;
        }
        a {
          background: transparent;
          line-height: 2em;
          font-size: 1em;
          display: inline-block;
          padding: 2px;
          text-align: left;
          color: #fff;
          text-decoration: none;
          width: 90%;
          @include media-breakpoint-up(lg) {
            width: 100%;
            text-align: center;
            color: #000;
          }
        }
        @include media-breakpoint-up(lg) {
          &:hover,
          &.current-menu-item {
            & > a{
              //background: rgba(0, 0, 0, 0.25);
              color: $link-color;
            }
          }
        }
        span.sub-menu-toggle {
          svg {
            fill: #fff;
            @include media-breakpoint-up(lg) {
              fill: #000;
            }
          }
          &.sub-menu-shown svg {
            transform: rotate(180deg);
          }
          @include media-breakpoint-up(lg) {
            position: absolute;
            right: 5%;
            transform: translateY(-50%);
            top: 50%;
          }
        }



        ul.sub-menu {
          display: none;
          list-style: none;
          @include media-breakpoint-up(lg) {
            display: block;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 100%;
            right: -100%;
            padding: 0;
            margin: 0;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, .25);
            li:hover .sub-menu {
              right: auto;
              left: calc( -100% - .5rem);
              top: 0;
            }
          }
        }

        &:hover > ul.sub-menu {
          @include media-breakpoint-up(lg) {
            opacity: 1;
            background: #fff;
            visibility: visible;
            top: calc(100% + 0.5rem);
            right: 0;
            &:before {
              content: '';
              display: block;
              bottom: 100%;
              height: 0.5rem;
              width: 100%;
              position: absolute;
            }
            .sub-menu {
              &:before{
                padding-top: 0;
                width: .5rem;
                height: 100%;
                bottom: 0;
                right: -.5rem;
              }
            }
          }
        }
      }
    }
  }
}